asgiref==3.11.1
attrs==26.1.0
brotli==1.2.0
cffi==2.0.0
cssselect2==0.9.0
Django==5.2.12
django-environ==0.13.0
django-silk==5.5.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
fonttools==4.63.0
gprof2dot==2025.4.14
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
pycparser==3.0
pydyf==0.12.1
PyJWT==2.13.0
pyphen==0.17.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.6.3
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
uritemplate==4.2.0
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3
